/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	font-family: 'Roboto', sans-serif;
}
/*--- Header Part Starts Here ---*/
.logo{
	float:left;
	padding: 15px 0;
	margin-top: 1.2em;
}
.logo a{
	font-family: Tahoma, Geneva, sans-serif;
	color: #F63;
	font-size: 36px;

}
.menu-bg {
	background:#9BD16F;
	float: right;
	padding: 7px 17px;
}
.menu{
	float:right;
	margin-top:3em;
}
/*--//header-welcome-note--*/
button.navig{
	width:24px;
	height:24px;
	background:url(../images/nav.png);
	display: block;
	outline: none;
	border:0;
	float: left;
	margin: -35px 10px;
}
a#activator {
	margin: 0 10px;
}
ul.menu-top{
	float: left;
	padding: 0;
}
ul.menu-top li{
	display: inline-block;
	margin:0px 10px;
}
ul.menu-top li a{
	text-decoration: none;
	text-transform:uppercase;
	color:#fff;
	font-size:18px;
	font-family: 'Roboto', sans-serif;
	font-weight:700;
}
ul.menu-top li a:hover{
	color:#163035;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.header-bottom {
	text-align:center;
	padding:10em 0 0;
}
.header-bottom p{
	font-style:italic;
	font-weight:400;
	color:rgba(255, 255, 255, 0.7);
	font-size: 2.5em;
	margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}
/*-- banneer--*/
.top-header{
		background:#4C6071;
}
.banner-text {
	text-align: left;
	padding-top: 4em;
	padding-bottom: 1em;
}
.banner-text h1{
	color: #4C6071;
	font-size:5.5em;
	margin: 0 auto;
	font-weight:900;
	text-transform: uppercase;
	line-height: 1.3em;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0.5em;
}
/*--------*/
.testimonals{
		margin:40px 0px;
		border:0px;
		border-bottom-width:1px;
		text-align:center;
		border-top-width:1px;
		border-color: rgba(70, 70, 70, 0.42);
}
.testimonals-details lable{
	border-bottom: 5px solid#4C6071;
	position: absolute;
	top: 30%;
	left: 14%;
	width: 18%;
}
.More {
	position: absolute;
	left: 11%;
	bottom: 12%;
	width: 30%;
}
a.more-btn{
		color: #fff;
	-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
a.more-btn:hover,a.about-btn:hover {
	color: #E16B5B;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
.more-btn {
	padding: 0.6em 1em;
	outline: none;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	color: #FFF;
	background: #4C6071;
	text-decoration: none;
	text-transform: uppercase;
}
.more-btn span,.about-btn span {
	width:9px;
	height:9px;
	display: inline-block;
	background: url(../images/plus.png) no-repeat 2px 0px;
	margin-left: 0.5em;
	vertical-align: middle;
	margin-left: 0.5em;
	margin-bottom: 2px;
	text-decoration:none;
}
.testimonals h3{
	font-weight: 600;
	text-transform: uppercase;
	color: #4C6071;
	font-size: 19px;
	position: absolute;
	left: 13%;
	top: 2%;
	text-align: left;
	width: 48%;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
}
.testimonals p{
			font-weight:400;
			color: rgba(70, 70, 70, 0.61);
			font-size:18px;
			font-family: 'Roboto', sans-serif;
}
.testimonals-main{
			margin:10px 0px;
}
.testimonals-row-column{
			margin:0px;
			padding:0px;
}
.testimonals-row-column p{
			padding:5px 10px;
			font-weight:400;
}
.testimonals-row-column p span a{
			color:#E95A62;
			font-weight:600;
			font-size:14px;
			text-decoration:none;
			font-family: 'Roboto', sans-serif;
}
.testimonals-row-column p span a:hover{
			color:#000;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
.testimonals-details{
			background:url(../images/test-back.png) no-repeat 0px 0px;
			padding:20px 0px;
			width: 370px;
			height: 344px;
			position: relative ;
}
i.test1{
		   background: url(../images/icons.png) no-repeat 0px 1px;
			padding: 10px 0px 0px 0px;
			width: 45px;
			height: 38px;
			position:absolute;
			right: 5%;
			top: 7%;
}
i.test2{
		  background: url(../images/icons.png) no-repeat -117px 1px;
			padding: 10px 0px 0px 0px;
			width: 45px;
			height: 38px;
			position:absolute;
			right: 5%;
			top: 7%;
}
i.test3{
		 background: url(../images/icons.png) no-repeat -260px 1px;
			padding: 10px 0px 0px 0px;
			width: 45px;
			height: 38px;
			position:absolute;
			right: 5%;
			top: 7%;
}
.testimonals-details img{
			padding:10px 10px 0px 20px;
}
.testimonals-details p{
			padding: 16px 6px 45px 20px;
			font-weight: 300;
			font-size: 16px;
			font-style: normal;
			color: #8C8C8C;
			position: absolute;
			left: 9%;
			top: 34%;
			line-height: 1.8em;
			width: 92%;
			font-family: 'Roboto', sans-serif;
			text-align: left;
}
/*----middle-grids----*/
.mid-section {
	padding: 3em 0;
	background: #F9F9F9;
}
.middle-grids {
	padding: 4em 0;
}
.More-info {
	text-align:left;
	width:50%;
	margin-top: 10%;
}
a.info-btn{
		color: #4C6071;
	-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
a.info-btn:hover {
	color: #E16B5B;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
.info-btn {
	padding: 0.8em 1em;
	outline: none;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	color: #999;
	background: none;
	text-decoration: none;
	text-transform: uppercase;
	border:2px solid#DDDDDD;
}
.info-btn span {
	width:20px;
	height:12px;
	display: inline-block;
	background: url(../images/arrow.png) no-repeat 2px 0px;
	margin-left: 0.5em;
	vertical-align: middle;
	margin-left: 0.5em;
	margin-bottom: 2px;
	text-decoration:none;
}
.middle-grids  h3{
	font-weight: 600;
	text-transform: uppercase;
	color: #4C6071;
	font-size: 19px;
	text-align: left;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
}
.middle-grids p{
	font-size: 15px;
	font-style: normal;
	color: #8C8C8C;
	line-height: 1.9em;
	width: 92%;
	font-weight: 300;
	text-align: left;
	font-family: 'Roboto', sans-serif;
}
/*----middle-grids----*/

/*-- Contact ends here --*/
.Dapibus-section {
padding: 6em 0 6em 0;
}
.Dapibus-content{
			margin:20px 0px;
			border:1px solid rgba(0, 0, 0, 0.26);
			border-radius:4px;
}
.Dapibus-head{
	padding:1em 0 2em 0;
	text-align: center;
}
.Dapibus-head h2{
	text-transform: uppercase;
	color: #596F81;
	padding: 0px 0px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	margin-bottom: 21px;
	
}
.Dapibus-head p{
		text-transform: uppercase;
		color:#E16B5B;
		padding:0px 0px;
		font-weight: 300;
		font-family: 'Roboto', sans-serif;
		font-size: 1.9em;
}
.dapibus-grid{
	border:0px;
	border-style: solid;
	border-right-width:1px;
	border-color:rgba(0, 0, 0, 0.26);
	text-align:center;
}
.dapibus-grid-text{
		padding:22px;
}
.dapibus-grid-text a{
		background:#464646;
		color:#fff;
		font-family: 'Roboto', sans-serif;
		padding:10px 15px;
		text-decoration: none;
		border:0px;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		-o-border-radius:3px;
		margin-top:10px;
		font-weight:600;
}
.dapibus-grid-text p{
		padding:0px 0px 10px 0px;
		font-weight:300;
		color: rgba(113, 113, 113, 0.71);
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
}
.dapibus-grid-text h3{
		text-transform: uppercase;
		color:#596F81;
		padding:0px 0px;
		font-weight:600;
		font-family: 'Roboto', sans-serif;
}
/*-- Footer starts here--*/
div#contact {
	background: #9BD16F;
	padding:5em 0;
}
.contact-main {
	padding: 2em 0;
}
.Address {
	margin-top: 2.5em;
}
.Address h4 {
	font-size: 29px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.Address p{
	font-size: 16px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.8em;	
}
ul.soc_icons {
	padding: 0;
	margin-top: 15px;
}
ul.soc_icons li  {
	list-style: none;
	padding: 2px 0;
}
.Address ul li i {
	width: 40px;
	height:40px;
	display: inline-block;
	background: url('../images/s-icons.png') no-repeat;
	vertical-align: middle;
}
ul.soc_icons span {
	color: #fff;
	font-size: 15px;
	border: 1px solid#83B859;
	padding: 1.86% 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
ul.soc_icons span a{
	text-decoration: none;
	color:#fff;
}
ul.soc_icons span a:hover{
	color:#E16B5B;
}
.Address ul li a span{
	padding-left: 15px;
}
.Address ul li  i.icon_1{
	background-position: -118px 1px;
}
.Address ul li i.icon_2 {
	background-position: -118px -40px;
}
.contect-text input[type="text"]{
		padding: 18px;
		width: 48%;
		margin: 6% -0.5% 0 0;
		background: none;
		outline: none;
		color: #fff;
		border: 1px solid#83B859;
		-webkit-appearance: none;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
}
.contact-icons ul{
	padding: 0;
}
.contact-icons ul li{
	display:inline-block;
	margin-left:0px;
	list-style: none;
}

.contact-icons ul li a span{
	width: 40px;
	height:40px;
	display: inline-block;
	background: url('../images/s-icons.png') no-repeat;
	vertical-align: middle;
	-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
.contact-icons ul li a span:hover{
	opacity: 0.5;
	
}
.contact-icons ul li a.twitter span{
	background-position: 6px 0px;
}
.contact-icons ul li a.fb span{
	background-position: -39px 0px;
}
.contact-icons ul li a.in span{
	background-position: -81px 0px;
}
.contect-text textarea {
	padding: 18px;
	width: 96.1%;
	margin: 0% 0% 0 0;
	background: none;
	outline: none;
	color: #fff;
	border-top:none;
	border-left: 1px solid#83B859;
	border-right: 1px solid#83B859;
	border-bottom: 1px solid#83B859;
	-webkit-appearance: none;
	font-size: 16px;
	resize:none;
	height:250px;	
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
}
.contect-text input[type="text"]:nth-child(2)
{
	margin-right: 0em;
}
form {
	position: relative;
}
.submit{
	position: absolute;
	bottom: 1.54%;
	right: 4%;
}
.contect-text input[type="submit"]{
	font-family: 'Roboto', sans-serif;
	background: #fff;
	color: #9BD16F;
	font-weight: 500;
	padding:1em 2em;
	display: inline-block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	letter-spacing: 0.1em;
	border:none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	text-transform: uppercase;
}
.contect-text input[type="submit"]:hover{
	color:#596F81;
}
/*-----About-----*/
.about-button{
	width:35%
}
.about-btn {
	outline: none;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	color: #FFF;
	padding: 0.6em 1em;
	text-decoration: none;
	background: #4C6071;
	text-decoration: none;
	text-transform: uppercase;
}
a.about-btn:hover {
	color: #E16B5B;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
.about-btn span {
	width:9px;
	height:9px;
	display: inline-block;
	background: url(../images/plus.png) no-repeat 2px 0px;
	margin-left: 0.5em;
	vertical-align: middle;
	margin-left: 0.5em;
	margin-bottom: 2px;
	text-decoration:none;
}
.thumb-pad1 {
	margin: 0 0 30px 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
	text-align: center;
}
.thumb-pad1 .thumbnail .title {
	font: bold 26px/26px 'Gentium Basic';
	color: #3a3a3a;
	margin-bottom: 49px;
	text-transform: uppercase;
}
 .caption {
	padding: 0;
	overflow: hidden;
}
.caption p {
	margin-bottom: 30px;
	font-size: 13px;
	line-height: 24px;
	color: #a7a6a6;
}
.thumb-pad1 figure {
	margin: 0 0 36px 0;
}
.thumb-pad2 {
	margin: 0 0 61px 0;
	overflow: hidden;
}

.thumb-pad3 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad3 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad3 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad3 figure {
	margin: 0 0 9px 0;
}
.thumb-pad3 figure img {
	width: 100%;
}
.about-main {
	margin: 0;
	padding: 2em 0;
}
.trainers-box h3,.history-box h3,.about-box h3{
	color: #4C6071;
	font-size: 2.3em;
	line-height: 1.7em;
	margin:1em 0;
	text-transform:uppercase;
	font-family: Roboto, sans-serif;
	font-weight:600;
}
.trainers-box h4,.about-box h4{
	color: #4C6071;
	font-size: 1.15em;
	line-height: 1.6em;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight:600;
	margin-left: 12px;
}
.extra-wrap h4{
	color: #4C6071;
	font-size: 1.4em;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	font-weight:600;
}
.trainers-box p {
	color: #a7a6a6;
	font-size: 0.95em;
	line-height: 1.7em;
	width: 90%;
	margin: 0.5em auto;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.caption h4{
	color: #4C6071;
	font-size: 1.15em;
	line-height: 1.7em;
	margin: 1em 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.list6 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list6.indent li {
	margin-bottom: 40px;
}
.list6 li {
	font-size: 12px;
	line-height: 1.428571429;
	margin-bottom: 42px;
}
.list6 li .badge {
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	background: none;
	text-align: left;
	width: 68px;
	height: 68px;
	border: 6px solid #E16B5B;
	border-radius: 100%;
	text-align: center;
	float: left;
	margin-right: 29px;
	margin-top: 0px;
	font: bold 30px/57px 'Roboto', sans-serif;
	color:#4C6071;
}
.list6 li p {
	color: #909090;
	margin-left: 98px;
}
.list6 li h3 {
	margin-bottom: 12px;
}
ul.list1-1.indent {
	padding: 0;
	margin-left: 15px;
}
ul.list1-1.indent li {
	list-style: none;
	border-bottom: 1px solid #ececec;
}
ul.list1-1.indent li a{
	font-size: 13px;
	text-decoration:none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color: #a7a6a6;
	line-height: 31px;
}
ul.list1-1.indent img {
margin-right:20px;
}
/*--------/services--------------*/
div#services {
	padding: 3em 0;
}
.service-main {
	margin: 0;
	padding:2em 0;
}
.service-grid h3 {
	font-size: 2.5em;
	color: #4C6071;
	font-weight:300;
	text-transform: uppercase;
	margin-bottom: 8%;
	font-family: 'Roboto', sans-serif;
}
div.list.arrow-list ul li a {
	display: inline-block;
	position: relative;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	vertical-align: middle;
	text-decoration: none;
	color: #5d6166;
	font-family: 'Roboto', sans-serif;
	line-height: 1.9em;
	font-size: 1.15em;
	margin-top: 3px;
}
.officer h4 {
	font-size: 2.2em;
	font-weight: 300;
	line-height: 1.2em;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color:#9BD16F;
}
.officer h5 {
	font-size:1.7em;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #4C6071;
}
li.recent-posts h5{
	font-size:1.45em;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #4C6071
}
.list.styled.arrow-list img {
margin-right: 20px;
}
.officer h6 {
	font-size:1.6em;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color:#9BD16F;
	line-height: 0em;
	margin-bottom: 1.6em;
}
.officer-text {
	margin-top: 19px;
}
span.meta {
padding: 0;
}
.content_box.info_box h6 {
	margin: 0 0 24px 0;
	line-height: 20px;
	font-size: 20px;
	text-transform: uppercase;
	color: #f15f43;
	font-family: 'Roboto', sans-serif;
}
ul.list_1 li .meta .post-date {
	line-height: 60px;
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: 300;
	color: #f15f43;
}
ul.list_1 li .meta .post-date .post-month {
	display: block;
	padding: 6px 0 0 0;
	line-height: 20px;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #5d6166;
	font-family: 'Roboto', sans-serif;
}
ul.list_1 li .meta .post-date .post-month {
	display: block;
	padding: 6px 0 0 0;
	line-height: 20px;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #5d6166;
	font-family: 'Roboto', sans-serif;
}
ul.list_1 li .excerpt {
	overflow: hidden;
	margin: 0;
}
.content_box.info_box p {
	margin: 0 0 14px 0;
	line-height: 23px;
}
.list.styled.arrow-list ul {
	padding: 0;
}
ul.recent-posts.list_1.unstyled {
padding: 0;
}
.list.styled.arrow-list ul li{
	list-style:none;
}
li.recent-posts {
	list-style: none;
	margin-bottom: 1.5em;
}
.service-grid p{
	font-weight: 400;
	font-size: 15px;
	font-style: normal;
	color: #8C8C8C;
	font-family: 'Roboto', sans-serif;
	line-height: 25px;
}
/*--------error-page----------*/
.Error-found {
	padding: 8em 0 10em 0;
	background: #eee;
}
.error-page {
	margin-top: 2em;
}
.error-page h3 {
	font-weight: 700;
	text-transform: uppercase;
	color: #4C6071;
	margin: 0;
	padding: 0 0 0em 0;
	font-size: 17em;
}
.error-page h3 span {
	color: #E16C5B;
}
.error-page p{
	font-weight: 400;
	font-size:3em;
	font-style: normal;
	color: #222;
	font-family: 'Roboto', sans-serif;
	line-height: 25px;
}
a.home-btn:hover {
	border-color: #c1061b;
	color: #c1061b;
}
a.home-btn {
	border: 2px solid #4C6071;
	background:#9BD16F;
	text-transform: uppercase;
	padding: 1em 4em;
	margin-top: 3.4em;
	display: inline-block;
	color: #4C6071;
	text-decoration: none;
	-webkit-appearance:none;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}
/*------contact------------*/
.catch-on h3 {
	font-size: 2.3em;
	color: #4C6071;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 1em 0 0.3em 0;
	font-family: 'Roboto', sans-serif;
}
.contact-map iframe {
	min-height:320px;
	width: 100%;
	border: none;
	margin: 1.5em 0 1em;
}
.share ul{
	padding: 0;
}
.share ul li{
	display:inline-block;
	margin-left:14px;
}
.share ul li a:hover{
	opacity:0.8;
}
.share ul li a span{
	width: 134px;
	height: 134px;
	display: inline-block;
	background: url(../images/catch-icons.png) no-repeat 0px 0px;
}
.share ul li a.email span{
	background-position: 3px 0px;
}
.share ul li a.twitter span{
	background-position: -132px 0px;
}
.share ul li a.fb span{
	background-position: -270px 0px;
}
.share {
	text-align: center;
	margin: 4em 0;
}
.news-letter h4 {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7em;
	font-weight: 600;
	color: #4C6071;
}
.news-box img {
	margin-right: 18px;
	margin-bottom: 5px;
}
.news-box-text input[type="text"] {
	background: none;
	font-style: normal;
	font-size: 15px;
	outline: none;
	padding:12px 18px;
	border: 1px solid #E16B5B;
	color: #E16B5B;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	font-family: 'Roboto', sans-serif;
	width: 73%;
	font-weight: 400;
	-webkit-appearance: none;
}
.news-box-text input[type="submit"] {
	background:#9BD16F;
	outline: none;
	font-size: 15px;
	font-weight: 400;
	padding: 12px 19px;
	cursor: pointer;
	border: 1px solid #E16B5B;
	color: #E16B5B;
	margin: 0px -5px;
	width: 22%;
	-webkit-appearance: none;
	font-family: 'Roboto', sans-serif;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.news-box-text input[type="submit"]:hover{
	background: #4C6071;
	color:#fff;
}
.news-content {
	margin-bottom:4em;
}
.news-box-text {
	margin-top: 1em;
}
/*---------/footer-------*/
.footer {
	padding: 1em 0;
	background:#4C6071;
}
.copy-right {
	text-align:center;
	margin-top: 1.5em;
}
.copy-right p {
	font-size: 1.2em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.copy-right p a{
	color: #E16B5B;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.copy-right p a:hover{
	color: #fff;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 3%;
	overflow: hidden;
	width:42px;
	height:42px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width:42px;
	height:42px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*---- responsive-design -----*/
@media(max-width:1440px){
	.banner-text h1 {
		font-size: 5.4em;
	}
	
}
@media(max-width:1366px){
	.banner-text h1 {
	font-size: 5.3em;
	}
}
@media(max-width:1280px){
	.banner-text h1 {
	font-size:4.8em;
	}	
	.Dapibus-head h2 {
	font-size: 3.7em;
	margin-bottom: 20px;
	}
}
@media(max-width:1024px){
	.banner-text h1 {
		font-size: 4.3em;
	}
	ul.slides li h2 {
	font-size: 1.5em;
	top: 25%;
	margin-left: 60px;
	}
	ul.slides li h3 {
	font-size: 15px;
	top: 42%;
	margin-left:60px;
	}
	.testimonals {
	margin: 36px 0px;
	padding-top: 2em;
	}
	.testimonals-details {
	padding: 20px 0px;
	width:302px;
	height: 344px;
	background-size: 100%;
	}
	.testimonals h3 {
	font-size: 16px;
	left:9%; 
	top: 0%;
	width: 53%;
	}
	.testimonals-details lable {
	top: 23%;
	left: 9.3%;
	width: 18%;
	}
	.testimonals-details p {
	padding: 9px 6px 19px 17px;
	font-size: 14px;
	left: 4%;
	top: 24%;
	}
	.More {
	left:8%;
	bottom: 27%;
	width: 30%;
	}
	.mid-text img{
		width:99%;
	}
	.middle-grids p {
	width: 98%;
	}
	.Dapibus-head h2 {
	font-size: 3.2em;
	margin-bottom: 20px;
	}
	ul.soc_icons span {
	padding: 2.298% 15px;
	}
	.contect-text textarea {
	width: 95.99%;
	}
	ul.list1-1.indent img {
	margin-right: 15px;
	}
	ul.list1-1.indent li a {
	font-size: 12px;
	}
	.trainers-box h3, .history-box h3, .about-box h3 {
	font-size: 1.9em;
	}
	.Dapibus-section {
		padding: 4em 0 4em 0;
	}
	.list.styled.arrow-list img {
	margin-right: 9px;
	}
	div.list.arrow-list ul li a{
		font-size:13px;
	}
	.service-grid h3 {
		font-size: 2em;
	}
	.officer h4{
		font-size: 1.8em;
	}
	.officer h5{
		font-size: 1.3em;
	}
	.officer h6{
		font-size: 1.2em;
	}
	.officer-text img{
		width:100%;	
	}
	ul.list_1 li .meta .post-date {
	line-height: 56px;
	font-size: 50px;
	}
	.Dapibus-head p{
		font-size: 1.6em;
	}
	.service-main{
		padding-top: 2em;
	}
	.news-box-text input[type="submit"]{
		width:26%;
	}
	.dapibus-grid-text p{
		margin:0 auto;
		font-size: 14px;
		width: 88%;
	}
	.contect-text input[type="text"] {
	padding: 18px;
	width: 48%;
	margin: 6% -0.5% 0 0;
	}
}
@media(max-width:768px){
	.container {
	width: 723px
	}
	.banner-text h1 {
		font-size: 3.2em;
	}
	.banner-text {
		padding-top: 3em;
		padding-bottom: 1em;
	}
	.flex-direction-nav a{
		top:26%;
	}
	ul.slides li h2 {
		font-size: 1.2em;
		top: 25%;
		margin-left: 70px;
	}
	.testimonals {
	margin: 10px 0px;
	padding-top: 2em;
	}
	.testimonals-details {
		padding: 20px 0px;
		width: 374px;
		height: 355px;	
	}
	.testimonals h3 {
	font-size: 18px;
	left: 9%;
	top:4%;
	}
	.testimonals-details lable {
	top:30%;
	}
	.testimonals-details p {
	padding: 12px 6px 19px 17px;
	font-size: 16px;
	left: 4%;
	top:33%;
	}
	.More {
	left: 5%;
	bottom:20%;
	width: 30%;
	}
	.testimonals-main {
	margin: 10px 0px;
	padding-bottom: 2em;
	}
	.mid-text {
	margin-bottom: 2em;
	}
	.mid-text img {
	width: 45%;
	}
	.More-info {
	text-align: left;
	width: 50%;
	margin-top: 5%;
	}
	.middle-grids {
		padding: 1em 0;
	}
	.dapibus-grid-text p {
	font-size: 16px;
	margin: 0 auto;
	width: 77%;
	}
	.contact-main {
	padding: 1em 0;
	text-align: center;
	}
	.Address {
	margin-top: 0.5em;
	}
		ul.soc_icons span {
	padding: 0.981% 15px;
	}
	.Dapibus-section {
	padding: 3em 0 4em 0;
	}
	.Dapibus-head h2 {
		font-size: 3em;
		margin-bottom: 20px;
	}
	.contect-text textarea {
		width: 95.9%;
	}
	.submit {
	position: absolute;
	bottom: 1.54%;
	right: 2%;
	}
	.caption p {
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 24px;
	color: #a7a6a6;
	}
	.extra-wrap h4 {
	font-size: 1.8em;
	}
	.caption h4 {
	font-size: 1.4em;
	}
	.list6 li p {
	margin-left: 98px;
	font-size: 14px;
	line-height: 23px;
	}
	.trainers-box h4, .about-box h4 {
	font-size: 1.3em;
	}
	.trainers-box h3, .history-box h3, .about-box h3 {
	font-size: 1.9em;
	margin: 0.5em 0;
	}
	.trainers-box p {
	color: #a7a6a6;
	font-size: 14px;
	line-height: 1.7em;
	width: 90%;
	}
	ul.list1-1.indent li a {
	font-size: 14px;
	}
	.officer-text img {
	width: 28%;
	}
	.service-grid h3 {
		font-size: 2em;
		margin-bottom: 2%;
	}
	div#services {
	padding: 0em 0;
	}
	div.list.arrow-list ul li a {
	font-size: 15px;
	}
	.contect-text input[type="text"] {
	padding: 16px;
	width: 48%;
	margin: 6% -0.8% 0 0;
	}
}
@media(max-width:640px){
	.container {
	width:591px
	}
	.banner-text h1 {
	font-size: 2.5em;
	}
	ul.soc_icons span {
	padding: 1.155% 15px;
	}
	.Dapibus-head p {
	font-size: 1.5em;
	}
	.contect-text input[type="text"] {
		padding: 13px;
		width: 48%;
		margin: 6% -0.8% 0 0;
	}
	div#contact {
		background: #9BD16F;
		padding: 3em 0;
	}
	.contect-text textarea{
		height: 200px;
	}
	.dapibus-grid-text p {
	font-size: 16px;
	line-height: 28px;
	}
	.Dapibus-head h2 {
	font-size: 2.5em;
	margin-bottom: 16px;
	}
	ul.soc_icons span {
	padding: 1.225% 15px;
	}
@media(max-width:480px){
	.container {
	width:461px
	}
	.banner-text h1 {
	font-size: 2.3em;
	}
	ul.soc_icons span {
	padding: 1.623% 15px;
	}
	.Dapibus-head p {
	font-size: 1.4em;
	}
	.contect-text input[type="text"] {
	padding: 9px;
	width: 47.8%;
	margin: 6% -1% 0 0;
	}
	.More-info {
	margin-top: 7%;
	}
	.contect-text textarea {
	height:150px;
	padding: 9px;
	}
	.contect-text textarea {
	width: 95.5%;
	}
	.submit {
	position: absolute;
	bottom: 2.2%;
	right: 2%;
	}
	.contect-text input[type="submit"] {
	padding: 0.7em 1.9em;
	}
	.error-page h3 {
	font-size: 13em;
	}
	.error-page p {
	font-size: 2.5em;
	}
	.Error-found {
	padding: 1em 0 5em 0;
	}
	.dapibus-grid-text p {
	font-size: 16px;
	line-height: 28px;
	width: 100%;
	}
}
@media(max-width:320px){
	.container {
	width:261px
	}
	.logo {
	float: left;
	padding: 6px 0;
	margin-top: 1.2em;
	}
	.catch-on h3 {
	font-size: 1.5em;
	}
	.banner-text h1 {
	font-size: 1.5em;
	}
	.banner-text {
	padding-top:1.8em;
	padding-bottom: 1em;
	}
	.news-box-text input[type="text"] {
	font-size: 14px;
	padding: 9px 10px;
	width:63%;
	}
	.menu-bg {
		background: #9BD16F;
		padding: 0px 2px;
	}
	.news-box-text input[type="submit"] {
	background: #9BD16F;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	padding: 9px 14px;
	width: 35%;
	}
	.contact-map iframe {
	min-height: 196px;
	margin: 1em 0 1em;
	}
	.testimonals-details {
	padding: 20px 0px;
	width: 100%;
	height: 321px;
	background-size: 100% 274px;
	}
	.testimonals {
	margin: 2px 0px;
	padding-top: 1em;
	}
	.testimonals h3 {
	font-size: 14px;
	left: 6%;	
	top: 0%;
	width: 60%;	
	}
	.testimonals-details lable {
	top: 23%;
	left: 6.3%;
	width: 27%;
	}
	i.test1 {
		right:-3%;
		top: 6%;
	}
	.testimonals-details p {
		padding: 12px 6px 19px 17px;
		font-size: 13px;
		left: 0%;
		top: 25%;
		width: 100%;
		overflow: hidden;
		height: 129px;

	}
	.more-btn {
		padding: 0.4em 0.3em;
		text-decoration:none;
		display:block;
	}
	.More {
	left: 8%;
	bottom: 22%;
	width: 34%;
	padding-bottom: 0px;
	background: #4C6071;
	}
	i.test2 {
	right: 1%;
	}
	i.test3 {
	right: 3%;
	}
	.testimonals-main {
	margin: 10px 0px;
	padding-bottom: 0em;
	}
	.More-info {
	text-align: left;
	width: 66%;
	margin-top: 12%;
	}
	.mid-section {
	padding: 1em 0;
	}
	.middle-grids p {
	width: 100%;
	}
	.mid-text img {
	width: 72%;
	}
	.Dapibus-head h2 {
	font-size: 1.65em;
	margin-bottom: 9px;
	margin-top: 30px;
	}
	.Dapibus-section {
			padding: 0em 0 1em 0px;
	}
	.error-page h3 {
	font-size: 10.5em;
	}
	div#contact {
	padding: 1em 0;
	}
	ul.soc_icons span {
	padding: 3.235% 14px;
	}
	.Address ul li i {
	width: 38px;
	}
	.copy-right {
	margin-top: 1em;
	}
	.copy-right p{
	font-size: 1.1em;
	}
	.extra-wrap h4 {
	font-size: 1.4em;
	}
	.contect-text input[type="text"] {
	padding: 7px;
	width: 49%;
	margin: 6% -1.78% 0 0;
	font-size: 13px;
	}
	.trainers-box h3, .history-box h3, .about-box h3 {
	font-size: 1.5em;
	margin: 0.5em 0;
	text-align: center;
	}
	.trainers-box h4, .about-box h4 {
	font-size: 1.2em;
	text-align: center;
	}
	.list6 {
	text-align: center;
	}
	.list6 li .badge {
	width: 68px;
	height: 68px;
	border-radius: 100%;
	text-align: center;
	float: none;
	margin-right: 0;
	}
	.extra-wrap {
	text-align: center;
	margin: 0 auto;
	}
	.list6 li p {
	 margin-left:0;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	}
	.Dapibus-head {
	padding: 0em 0 1em 0;
	text-align: center;
	}
	.dapibus-grid-text {
		padding-top:25px;
	}
	.contect-text textarea {
	width: 97.9%;
	}
	.contect-text textarea {
		height: 105px;
	}
	.dapibus-grid-text p {
		margin: 0;
		font-size: 15px;
		line-height: 28px;
	}
	.Dapibus-head p {
	font-size: 1.1em;
	}
	.submit {
	position: absolute;
	bottom: 3.99%;
	right: 2%;
	}
	.contect-text textarea {
	padding: 6px;
	width: 97.9%;
	font-size: 13px;
	}
	ul.list1-1.indent img {
	margin-right: 5px;
	}
	ul.list1-1.indent li a {
	font-size: 11px;
	}
	.contect-text input[type="submit"] {
	padding: 0.7em 1.3em;
	font-size: 13px;
	}
	.dapibus-grid-text h3 {
	font-size: 20px;
	}
	.service-main {
	padding-top: 1em;
	}
	.service-grid h3 {
	font-size: 1.6em;
	margin-bottom: 2%;
	text-align: center;
	}
	div.list.arrow-list ul li a {
	font-size: 13px;
	}
	.ser-content {
	text-align: center;
	}
	.officer-text img {
		width: 47%;
	}
	.officer h4 {
	font-size: 1.4em;
	line-height: 28px;
	}
	.about-button {
		width: 56%;
	}
	li.recent-posts {
	list-style: none;
	margin-bottom: 1em;
	text-align: center;
	}
	.service-grid p {
	font-size: 14px;
	text-align:center;
	}
	.error-page p {
	font-size: 1.8em;
	}
	a.home-btn {
	padding: 1em 3em;
	margin-top: 1.7em;
	}
	.share {
	margin: 1em 0;
	}
	.list6 li {
	margin-bottom: 22px;
	}
}
